*.gem
*.rbc
.bundle
.config
.yardoc
Gemfile.lock
InstalledFiles
_yardoc
coverage
doc/
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
tmp
test/.test.profile*
vendor
bin/nokogiri
bin/pprof.rb
bin/rackup
bin/redcarpet
bin/ri
bin/turn
bin/yard
bin/yardoc
bin/yri
.git/
